<head>
    <style>
        p {
            font-size: 20px;
        }

        div a {
            font-size: 20px;
        }

        footer a {
            font-size: 12px;
        }

        h2,
        h3 {
            color: #6a000f;
        }
    </style>
</head>

<section class="container content-section text-center">
    <h4>A map of locations for both the 4<sup>th</sup> and 6<sup>th</sup> of September</h4>

    <div>
        <iframe src="https://www.google.com/maps/d/embed?mid=1V3vUqUXv3xAXO7ACD5JY1XxCHl94B2A&ehbc=2E312F&noprof=1"
            class="map"></iframe>
    </div>
</section>

<section class="container content-section text-center">
    <div>
        <h2>Travelling</h2>
        <br />
        <p>
            All the venues have accessible and nearby parking and also viable public transport using SWR trains through
            Waterloo/Clapham Junction.
        </p>
        <br />

        <div class="row">
            <div class="col-lg-4 text-left">
                <h3>Hindu Wedding</h3>
                <br />
                <p>
                    The Hindu Wedding will be held at
                    <a href="https://maps.app.goo.gl/4HaFqPXgeRbiwBDy9" target="_blank">Nakshatra Hall,
                        Feltham</a> (next to the Garden Centre).<br />
                    BY TRAIN: The nearest station is Feltham station. From there you may get the 235 bus for 15 min or
                    an Uber for 10 min to the venue.
                    <br />
                    BY CAR: There is free parking onsite at Nakshatra Hall.
                </p>
                <br />
            </div>

            <div class="col-lg-4 text-left">
                <h3>Civil</h3>
                <br />
                <p>
                    The Civil Wedding will be held in the Loggia Room
                    <a href="https://maps.app.goo.gl/XJ7rejed5Ss7Zrjj6" target="_blank">at York House,
                        Twickenham</a>.<br />
                    BY TRAIN: The nearest station is Twickenham station which is an 8 min walk from York House.<br />
                    BY CAR: The nearest paid car parks are:
                    <a href="https://maps.app.goo.gl/iyxFHK7T9ZVRHcjy5" target="_blank">York House Car Park</a> (29
                    spaces) and
                    <a href="https://maps.app.goo.gl/Z43sqWmSK2MAPrqz5" target="_blank">Arragon Car Park</a> (437
                    spaces).
                </p>
                <br />
            </div>

            <div class="col-lg-4 text-left">
                <h3>Reception</h3>
                <br />
                <p>
                    The reception will be held at
                    <a href="https://maps.app.goo.gl/pNyJtCkDHTmyavZr7" target="_blank">Honeymoon Banqueting Hall</a> in
                    Hounslow. <br />
                    BY TRAIN: The nearest stations are Hounslow Central (Piccadilly Line) and Hounslow train station,
                    each under 10 min walk to the venue.<br />
                    BY CAR: There is parking opposite the hall which is free after 6:30pm.
                </p>
                <br />
            </div>
        </div>
    </div>
</section>

<section class="container content-section text-center">
    <div class="col-lg-offset-2">
        <h2 id="getting-around">Where to Stay</h2>
        <br />
        <p>
            If you would like to stay in the area, there are a few hotels nearby.<br />
            There are hotels near each of the venues, but we recommend staying in Hounslow and travelling to the other
            venues, as that is the location of the Reception (where drinking is involved!)
        </p>
        <br />
        <div class="row">
            <div class="col-lg-6 text-left">
                <h3>Near Hounslow</h3>
                <br />
                <a href="https://www.google.com/travel/hotels/s/CBXQyqE7EjVDQXhM8" target="_blank">Travelodge
                    Hounslow</a>

                <br />

                <a href="https://www.google.com/travel/hotels/s/ZDF6V9cRAJ7Z8A6T9" target="_blank">Ibis</a>

                <p>Many more within walking distance, such as Continental, Ramada, etc.</p>
            </div>
            <br />

            <div class="col-lg-6 text-left">
                <h3>Near Feltham</h3>
                <br />
                <a href="https://www.google.com/travel/hotels/s/XNBTrzgV5X4sdVZa7" target="_blank">Travelodge
                    Feltham</a>
            </div>
        </div>
    </div>
</section>