<section class="container content-section text-center">
    <h4>A map of locations for both the 4th and 6th of September</h4>

    <div>
        <iframe
            src="https://www.google.com/maps/d/embed?mid=1V3vUqUXv3xAXO7ACD5JY1XxCHl94B2A&ehbc=2E312F&noprof=1"
            class="map"
        ></iframe>
    </div>
</section>

<section class="container content-section text-center">
    <div>
        <h2>Travelling</h2>
        <p>
            If you don't have a car or accommodation near to the venues, public transport is viable.<br />
            All 3 venue locations have a nearby station that can be reached by a SWR train from Waterloo (or any
            proceeding station e.g. Clapham Junction)<br />
            Many people have cars and will try to pick up people for short distances, we will try to facilitate this to
            the best of our abilities, however public transport/ubers are vialble alternatives.
        </p>

        <div class="row">
            <div class="col-lg-6 text-left">
                <h3>Hindu Wedding</h3>
                <p>
                    The Hindu Wedding will be held in Feltham.<br />
                    Ideally people will be picking up guests from the station, but if no-one is available there is a bus
                    that goes to the venue in 15 minutes.
                </p>
            </div>

            <div class="col-lg-6 text-left">
                <h3>Civil & Reception</h3>
                <p>
                    The Civil Wedding will be held in Twickenham.<br />
                    The venue is an 8 minute walk from the station.
                </p>
                <p>
                    The Reception will be held in Hounslow.<br />
                    We will be travelling from the Civil Wedding to the Reception immediately after the ceremony. If you
                    cannot find a ride with anyone, there is a 25 minute bus/train available.<br />
                    We will wait for you do not worry.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="container content-section text-center">
    <div class="col-lg-offset-2">
        <h2 id="getting-around">Where to Stay</h2>
        <p>
            If you would like to stay in the area, there are a few hotels nearby.<br />
            There are hotels near each of the venues, but we recommend staying in Hounslow and travelling to the other
            venues, as that is the location of the Reception, where drinking is involved.
        </p>

        <div class="row">
            <div class="col-lg-6 text-left">
                <h3>Near Hounslow</h3>

                <a href="https://www.google.com/travel/hotels/s/CBXQyqE7EjVDQXhM8" target="_blank"
                    >Travelodge Hounslow</a
                >

                <br />

                <a href="https://www.google.com/travel/hotels/s/ZDF6V9cRAJ7Z8A6T9" target="_blank">Ibis</a>

                <p>Many more within walking distance, such as Continental, Ramada, etc.</p>
            </div>

            <div class="col-lg-6 text-left">
                <h3>Near Feltham</h3>

                <a href="https://www.google.com/travel/hotels/s/XNBTrzgV5X4sdVZa7" target="_blank"
                    >Travelodge Feltham</a
                >
            </div>
        </div>
    </div>
</section>
