<section class="container content-section text-center">
    <div class="row">
        <div class="col-lg-12">
            <h2 style="color: #6a000f">Registry</h2>
            <p style="font-size: 20px">
                Your presence with us in celebration is the greatest present, however if you choose to offer a gift,
                cash or cheque can be given to us on the wedding day.<br>
                However we also have a small registry if you would like to send us something by post.<br>
                Please note not to bring boxed gifts to any of the events, thank
                you for understanding.<br>
                Thank you very much everyone.
            </p>

            <a style="font-size: 20px" href="https://www.myregistry.com/giftlist/divdav" target="_blank">Link to
                Registry</a>
        </div>
    </div>
</section>